:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-brand: #2196f3;
  --color-background: #2f303a;
  --color-pouring: #f5f4fa;
  --color-text-light: #fff;
  --color-logo: #000;
  --color-img: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-trasform: 250ms;
}
