.address {
  font-style: normal;
  display: flex;

  &__list {
    margin-bottom: 60px;
    text-align: center;

    @include for-tablet {
      margin-bottom: 0;
    }

    @include for-desktop {
      text-align: start;
      margin-bottom: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include for-desktop {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-text-light);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color var(--time-trasform) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  }

  &__contacts {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--time-trasform) var(--timing-function);

    &:hover,
    &:focus {
      color: var(--color-brand);
    }
  }
}
