.benefits {
  &__list {
    display: flex;
  }

  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--color-pouring);
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
  }
}
