.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__container {
    justify-content: space-between;
    display: -webkit-box;
    align-items: center;
  }

  &__burger-menu {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: var(--color-text-light);

    @include for-tablet {
      display: none;
    }
  }
}
