.social {
  margin-left: 70px;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-light);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--color-text-light);
    transition: background-color var(--time-trasform) var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--color-brand);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
