.team-social {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-light);
    border-radius: 50%;
    color: var(--color-img);
    transition: color var(--time-trasform) var(--timing-function),
      background-color var(--time-trasform) var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--color-brand);
      color: var(--color-text-light);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
